<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Cadastro Usuários</title>
        
    </head>
    <body>
        <h1>Cadastre um Usuário: </h1>

        

        <% if (validacao){%>
            <% for(i=0; i<validacao.errors.length;i++){%>
                <p><%=validacao.errors[i].msg %></p>
                <%}%>
            <%}%>

        <form method="POST" action="/usuario/salvar">
        Nome :  <input type="text" name="nome" value="<%=dados.nome%>"><br/>
        Usuário :    <input type="text" name="usuario" value="<%=dados.usuario%>"><br/>
        Email :    <input type="text" name="email" value="<%=dados.email%>"><br/>
        Senha:    <input type="password" name="senha" value="<%=dados.password%>"><br/>
            <input type="submit">
        </form>

    </body>
</html>